<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="card">
                <img class="card-img-top" src="assets/images/rocky1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Rocky</h5>
                  <p class="card-text">Rocky es una película estadounidense de 1976 escrita y protagonizada por Sylvester Stallone y dirigida por John G. Avildsen. </p>
                  <p class="card-text"><small class="text-muted">1976</small></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="card">
                <img class="card-img-top" src="assets/images/rocky2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Rocky 2</h5>
                  <p class="card-text">Es la secuela de la afamada película Rocky, en la que un desconocido boxeador, Rocky Balboa, tiene la oportunidad de combatir por el título del campeonato del mundo de los pesos pesados.</p>
                  <p class="card-text"><small class="text-muted">1979</small></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="card">
                <img class="card-img-top" src="assets/images/rocky3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Rocky 3</h5>
                  <p class="card-text">Como novedad aparece Mr. T, quien interpreta a Clubber Lang, el nuevo oponente de Rocky. También aparece en esta película Terry "Hulk Hogan" Bollea, interpretando a un luchador apodado Thunderlips. </p>
                  <p class="card-text"><small class="text-muted">1982</small></p>
                </div>
              </div>
            </div>
          </div>
          <br>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                  <img class="card-img-top" src="assets/images/rocky4.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Rocky 4</h5>
                    <p class="card-text">La historia sigue a Rocky Balboa (Sylvester Stallone), quien planea retirarse del boxeo tras recuperar su título frente a Clubber Lang en Rocky III. </p>
                    <p class="card-text"><small class="text-muted">1985</small></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                  <img class="card-img-top" src="assets/images/rocky5.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Rocky 5</h5>
                    <p class="card-text">Tommy Morrison (boxeador real que batió a George Foreman por el título vacante del campeonato mundial de pesos pesados de la WBO en 1993), quien interpreta al boxeador Tommy Gunn. </p>
                    <p class="card-text"><small class="text-muted">1990</small></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                  <img class="card-img-top" src="assets/images/rocky6.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Rocky Balboa</h5>
                    <p class="card-text">Se trata de la sexta entrega de la saga Rocky que empezó en 1976 con la ganadora del Óscar Rocky. </p>
                    <p class="card-text"><small class="text-muted">2006</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="assets/images/rocky7.png" alt=""> 
            <br>
            <img class="img-responsive" src="assets/images/rocky7.png" alt=""> 
        </div>
    </div>
</div>